@page
@model AgenciaTurismo.Web.Pages.Cidades.CreateCidadeModel
@{
    ViewData["Title"] = "Cadastrar Cidade";
}

<h1>Cadastrar Cidade</h1>

<form method="post">
    <div class="form-group">
        <label asp-for="Cidade.Nome" class="form-label"></label>
        <input asp-for="Cidade.Nome" class="form-control"/>
        <span asp-validation-for="Cidade.Nome" class="text-danger"></span>
    </div>
    
    <button type="submit" class="btn btn-primary">Salvar</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}